
/* Selector Universal, usamos estas propiedad y valores para todos los elementos de html */
*{
    margin: 0;
    padding: 0;
}


/* Selector de elemento, modifica todos los elementos html con este nombre */

body{
    background-color: cadetblue;
    font-family: 'Roboto', sans-serif;
}


/* Buena práctica ya que en toda nuestra página solo tenemos ua barra de navegación */

nav{
    height: 80px;
    width: 100%;
    background-color: #000;
    color:#fff;
    padding: 10px;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Esta regla de css modifica todos los elementos a dentro de todos los elementos navbar ,pero recuerda que solo hay uno*/
nav a{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    padding-right: 15px;
}


/* Selector de clase, para este su objetivo es ser reutilizado las veces que las necesitemos, los identificams con un punto al inicio */

.center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-navbar{
    font-size: 20px;
    color: red;
    text-decoration: none;
}


/* Selector de id nos permite modificar solo un elemento de html, no podemos reutilizarlo */
#home-hero{
       /* height: 50vh; */
       width: 100%;
       background-color: chartreuse;
       padding: 0 15px 0 15px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
}


#home-hero h1{
    font-size: 40px;
    color: blueviolet;
}

#home-hero p{
    font-size: 20px;
}

#home-hero img{
    width: 400px;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 350px 350px;
    column-gap: 10px;
    row-gap: 15px;
    background-color: #2196F3;
}

.perfil-card{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil-card img{
    width: 80px;
}











/* p{

}

div{

}

section{
    
} */